<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Médico</title>
    <link href="cadastro.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <!-- FORMULÁRIO DE NOVO CADASTRO -->
    <div class="formContainer" id="formCadastro">
        <h1 class="title">Cadastro de Médicos</h1>
        <form method="post" th:action="@{/cadastro-medico}">
            <label class="labels" for="nomeMedico">Insira seu nome completo:</label>
            <input class="inputs" id="nomeMedico" name="nomeMedico" required type="text">

            <label class="labels" for="cpfMedico">Insira seu CPF:</label>
            <input class="inputs" id="cpfMedico" name="cpfMedico" required type="text">

            <label class="labels" for="codigoMedico">Insira seu código:</label>
            <input class="inputs" id="codigoMedico" name="codigoMedico" required type="text">

            <div class="buttons">
                <button id="btnCadastro" type="submit">Cadastrar</button>
                <a href="/login-medico" id="btnEntrar">Entrar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
